---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>

<style>
  ol.references {
    counter-reset: list-counter; /* Initialize a custom counter */
    padding-left: 0;
}
  ol.references li {
      counter-increment: list-counter; /* Increment the counter for each item */
      list-style: none; /* Remove default list styling */
      margin-bottom: 10px;
      /*padding-left: 10px;*/
      text-indent: -10px;
  }
  ol.references li::before {
      content: "[" counter(list-counter) "] "; /* Automatically add brackets around the counter */
      /*font-weight: bold;*/
      padding-left: 10px;
      padding-right: 10px;
  }
</style>
